.product-list-container {
  padding: 20px;
}

.products-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  width: 250px;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 10px #0002;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}
