<button 
  routerLink="/adminCenter" 
  style="margin-bottom: 15px; padding: 6px 12px; border-radius: 6px; border: none; background: #444; color: white; cursor: pointer;">
  ← Volver
</button>
<div class="product-list-container">
  <h2>Administrar Productos</h2>

  <div class="products-grid">
    <div class="card product-card" *ngFor="let product of products">

      <img class="product-img" [src]="product.img" alt="{{product.producto}}">

      <h3>{{ product.producto }}</h3>
      <p><strong>Precio:</strong> ${{ product.precio }}</p>
      <p><strong>Cantidad:</strong> {{ product.cantidad }}</p>

      <p-button
        label="Editar"
        severity="help"
        [routerLink]="['/edit-product', product.id]"
      ></p-button>

      <br><br>

      <p-button
        label="Eliminar"
        severity="danger"
        (click)="deleteProduct(product.id)"
      ></p-button>

    </div>
  </div>
</div>
