<div class="page-wrapper">
  <p-card class="edit-card">
    <button 
      routerLink="/bodega" 
      style="margin-bottom: 15px; padding: 6px 12px; border-radius: 6px; border: none; background: #444; color: white; cursor: pointer;">
      ← Volver
    </button>
    <div class="inner-container">

      <h2 class="title">Editar Producto</h2>

      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form">

        <div class="form-group">
          <label>Nombre:</label>
          <input pInputText type="text" formControlName="producto" />
        </div>

        <div class="form-group">
          <label>Precio:</label>
          <input pInputText type="number" formControlName="precio" />
        </div>

        <div class="form-group">
          <label>Cantidad:</label>
          <input pInputText type="number" formControlName="cantidad" />
        </div>

        <div class="form-group">
          <label>Origen:</label>
          <input pInputText type="text" formControlName="origen" />
        </div>

        <div class="form-group">
          <label>Imagen (URL):</label>
          <input pInputText type="text" formControlName="img" />
        </div>

        <div class="preview">
          <p>Vista previa:</p>
          <img [src]="editForm.value.img" alt="Vista previa" />
        </div>

        <button pButton type="submit" label="Actualizar" class="update-btn"></button>

      </form>

    </div>
  </p-card>
</div>
